@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
    font-family: "Noto Serif", sans-serif;
}
  h1 {
    padding-left: 575px;
    padding-top: 150px;
    padding-bottom: 50px;
    text-align: center;
    font-weight: lighter;
    color: white;
    font-size: 40px;
  }

  a img {
    width: 2.5%;
    height: 2.5%;
    float: right; 
    border: 1.5px solid white;
  }

  
  body {
    background-color: white;
  }

  fieldset {
    padding: 5px;
  }

  .button {
    padding: 10px;
    font-size: 14px;
} 


  #Name {
    padding: 6px;
    width: 245px;
  }

  .productDescription {
    padding: 15px;
  }
  
  .lift:hover {
    transform: translateY(-10px);
	transition: transform 0.5s;
  }

  .product-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-right: 320px;
    background-image: url("images/cover.jpg");
  }

  .shopping-cart-container img {
    width: 60px;
    height: 60px;
    padding-left: 5px;
    float: right;
    
  }

  .product {
    position: relative;
    flex: 0 0 calc(33.33% - 20px);
    margin: 20px;
    background-color: white;
    color: black;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  }

  .product img {
    height: 200px;
    width: 355px;
    
  }

  .add-to-cart {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .temp {
    background-color: rgb(0, 13, 129);
    padding: 0px 7px;
    font-size: 20px;
    color: white;
    border: none;
    margin: 10px;
  }


  .count-button {
    cursor: pointer;
    margin: 0 5px;
  }

  .shopping-cart-container {
    position: absolute;
    top: 79%; /* Place the container 79% from the top */
    right: 20px; /* Place the container 20px from the right edge */
    width: 300px;
    height: 94%;
    background-color: rgb(200, 232, 255);
    color: black;
    text-align: left;
    padding: 20px;
    transform: translateY(-50%); /* Adjust the vertical position to center it */
  }

  .shopping-cart-container h4 {
    font-size: 20px;
    font-weight: lighter;
  }

  .notification {
    position: fixed;
    z-index: 9999;
    top: 25%;
    left: 79%;
    transform: translateX(-50%);
    background-color: rgb(28, 203, 28);
    color: black;
    padding: 10px;
    border-radius: 8px;
    display: none;
  }

  .notification1 {
    font-size: 18px;
    z-index: 9999;
    position: fixed;
    transform: translateX(-50%);
    top: 25%;
    left: 79%;
    background-color: rgb(178, 6, 6);
    color: white;
    padding: 5px;
    display: none;
  }

  .developer-bar a{
    color: white;
}

.product-container h6 {
  text-align: center;
  font-size: 14px;
}